body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

div {
  margin-top: 20px;
}

label, input, button {
  margin: 5px;
}
.alarm{
  color: red;
  background-color: blue;
}